<div id="navHeaderContainer">
    <div class="navContent">
        <div class="headerImages">
            <a href="/"><img src="/kloun.png" alt=""></a>
            
        </div>
        <div class="headerText">
            <h1>анекдоты и смешные истории</h1>
        </div>
        <div class="headerImages1">
            <a href="/"><img src="/kloun-na-prozrachnom-fone-3.png" alt=""></a>
            
        </div>
    </div>
    <div class="menuRegistr">
        <input type="checkbox" id="check-menuRegistr">
        <label for="check-menuRegistr">
            <i class="fas fa-bars" id="btn-menuRegistr"></i>
            <i class="fas fa-times" id="cancel-menuRegistr"></i>
        </label>
        <div class="sidebar-content-menuRegistr">
            <header>Меню</header>
            <button id="sidebarBtn-menuRegistr"><a href="/">На главную</a></button>
        </div>
    </div>
</div>